name: Merge Test

on:
  pull_request:

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
    - uses: actions/setup-node@4.0.4

    - name: npm install
    - run: npm i
    - name: npm run lint
    - run: npm run lint
